@charset "utf-8";

body {
	font-family: 'Open Sans', sans-serif;
	color: #2F4F4F;
	background-color: #DCDCDC;
}

.info {
	color: #660033;
	border: thin outset #FFFFFF;
	background-color: #FFFFCC;
	margin: 5px;
}


h1 {
	font-style: normal;
	font-weight: lighter;
	color: #4B0082;
}

h2 {
	font-weight: bolder;
	color: #4B0082;
}

h3 {
	font-weight: lighter;
	color: #4B0082;
}

form {
	color: #696969;
}