a {
	text-decoration: none;
	color: #FFE16A;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #80584D;
	color: #D4D4D4;
	background-image: url('../images/bkgrnd.PNG');
}

h1 {
	color: #FDF384;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-image: url('../images/ul.gif');
	background-repeat: no-repeat;
}

ul {
	list-style-image: url('../images/bullet0.PNG');
}